<h1 id="style">Nodejs Authentication App</h1>
 <div class="container1">
     <div class="m1">
         <p>Existing User? Sign In</p>
         <div>
            <a href="/users/signin"><button class="btn2">SIGN IN</button></a>
         </div>
         </div>
         <div class="m2">
            <p>New User?Create an Account</p>
            <div>
               <a href="/users/signup"><button class="btn2">SIGN UP</button></a>
            </div>
         </div>
            
 </div>

 
