<% if(locals.user) {%>
    <div class="welcome">
        <h1 id="style"style="font-family:monospace;color:teal">Hello, Welcome to our website!<br> <span id="namee"><%=user.name%></span> </h1><br>
        <h2 id="style" style="font-size: 20px;color:orange">This is a dummy Website for Social/user Authentication using Nodejs,mongodb, Express and Ejs<br> Thank You for using it!</h2><br><br>
        <h2 id="style" style="font-size:25px; text-decoration:underline; color:indianred; text-align:right;"><i>To Update your Password Click on Your name at Top Right side.</i></h2>
    </div>
    
<%}%>