#style{
      text-align: center;
      text-transform: capitalize;
      font-weight: 1000;
      font-size: 40px;
      color:olive;
}
/* Style for the home page of the website  */
.container1{
    background-color:darksalmon;
    text-align: center;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    width: 70%;
    height: auto;
    margin-top: 60px;
    margin-left: 220px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 10px 20px lightgrey;
    
}
.m1{
      width: 50%;

}

.m1 p{
      font-weight: bold;
}

.m2{
      background-color:plum;
      width: 50%;
}

.m2 p{
      font-weight: bold;
}

