/* layout style file  */
body {
    margin: 0;
    font-family: sans-serif; 
}
body #layout-main {
      height: 100%; 
      background-image: url("https://t3.ftcdn.net/jpg/02/92/90/56/360_F_292905667_yFUJNJPngYeRNlrRL4hApHWxuYyRY4kN.jpg");
        background-repeat: no-repeat;
        background-size: cover;
}
  